# Compilation directories for the various PHP versions.
php-*/

# Various source archives for PHP (release, git snapshots),
# Pyrus, PEAR, and Suhosin.
bzips/*.bz2
bzips/*.tar.gz
bzips/*.phar
bzips/*.patch.gz

# Customizations.
custom/*
